<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESTIMATION VENALE</title>
</head>
<body>
<table>

    <tbody>
        <tr>
            <td><img src="https://d36vnx92dgl2c5.cloudfront.net/cache/prod/Zenia/597/media/2e470910939412a96612cc267a18cc55.webp"  alt="" height="200px" width="200px"/></td>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <th colspan="2"><b><p>Madame/Monsieur {{nomContact}} {{prenomContact}} <br><br>mention manuscrite<br> {{adresseSociete}} <br> {{codePostalSiege}} {{villeSociete}} <br></p></b></th>
        </tr>

    </tbody>
</table>



<div style="text-align:center">
    <u><h1>AVIS DE VALEUR </h1></u>
    <p>EVALUATION EN VUE DE DETERMINER LA VALEUR VENALE D'UN BIEN IMMOBILIER sis :</p>
    <b><p> {{bien}}, {{adresseProduit}} - {{codePostalProduit}} {{villeProduit}} </p></b>
    <u>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</u>
</div>

<h2>I DESCRIPTION :</h2>
<br> {{comment}}
<br>
<br>


<h2> II DETERMINATION DE LA VALEUR VENALE DU BIEN IMMOBILIER :</h2>
<br>
<p>Compte-tenu de la situation géographique des lieux, des descriptions effectuées, des travaux à prévoir, de l’état du marché immobilier dans le secteur immobilier pour ce type de biens, du résultat de la méthode employée et de l’augmentation récente des prix de l’immobilier, nous proposons de retenir :</p>

<p>&emsp;&emsp; -	Une valeur vénale comprise entre : </p>

<div style="text-align:center">
    <b><p> {{prixPropose}} euros </p></b>
    <b><p>{{prixAfficheLettre}} euros</p></b>
</div>

<p>Nous vous rappelons que cette estimation est réalisée en fonction des conditions de présentation, de l'état général ainsi que des opportunités de marché, et donc susceptible d'ajustement lors de la mise en vente, si l'une des caractéristiques évoquées ci-dessus venait à évoluer.</p>
<br>
<p>Nous vous prions de croire, Madame, Monsieur, en l'assurance de notre parfaite considération.</p>
<br>
<b><p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FAIT AU MESNIL SAINT DENIS, le {{dateToday}} </p></b>

<div style="text-align:center">
    <b><p> {{nomUser}} {{prenomUser}} </p></b>
    <p>Conseiller immobilier</p>
</div>


</body>
</html>