<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offre</title>
</head>
<body>

<table>

    <tbody>
        <tr>
            <th colspan="2"><b><p>Madame/Monsieur {{nomContact}} {{prenomContact}} <br>{{adresseSociete}}<br>{{codePostalSiege}} {{villeSociete}}<br></p></b></th>
            <td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
            <th colspan="2"><b><p>COURCIER IMMOBILIER<br>Monsieur/Madame {{nomUser}} {{prenomUser}}<br>4 Rue du géneral Leclerc <br>78320 LE MESNIL SAINT DENIS <br><br><br><br><b>Le Mesnil Saint Denis, le {{dateToday}}</b></p></th>
        </tr>

    </tbody>
</table>
<br>
<h3>Objet : Offre d’achat</h3>
<p><b> {{bien}}– {{adresseProduit}}, {{codePostalProduit}}, {{villeProduit}} </b></p>
<br>

<p>Monsieur,</p>
<br>
<p>Suite à la visite du {{dateVisite}} de la  {{bien}}, située au {{adresseProduit}}, {{villeProduit}},( {{codePostalProduit}}), je vous fais par la présente une offre d’achat au prix de {{prixAfficheLettre}} ( {{prixPropose}} ) frais d’agence inclus.</p>
<p>L’offre est soumise à une condition suspensive d’obtention d’un crédit aux modalités suivantes : </p>
<p>&emsp;&emsp;&emsp;&emsp;-	Montant emprunté : {{montant}} </p>
<p>&emsp;&emsp;&emsp;&emsp;-	taux : {{taux}} </p>
<p>&emsp;&emsp;&emsp;&emsp;-	Durée du crédit: {{duree}} ans </p>
<p>&emsp;&emsp;&emsp;&emsp;-	Apport personnel : {{apport}} €</p>

<p>Cette proposition sera valable pour une durée d’une semaine à compter de cette date. </p>
<p>Une indemnité d’immobilisation de 5% du montant de la vente sera versée lors de la signature de la promesse de vente.</p>
<p>La date de promesse de vente sera établie d’un commun accord entre les parties (vendeur et acquéreur). </p>
<br>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{nomUser}} {{prenomUser}}</p>
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Signature </p>


</body>
</html>